.official-site {
  background-color: rgb(8, 66, 74);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgb(249, 243, 243);
  width: 90px;
  height: 100px;
  border-radius: 10px;
  margin:  auto;
  transition: background-color 0.4s ease, border-color 0.4s ease;

}
.official-site:hover {
  background-color: #c9c9d1;
  
}



.official-button {
  color: rgb(136, 126, 192);
  align-self: center;
  margin-bottom: 20px;
  padding: auto;
}
