.official-site {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgb(248, 251, 247);
  background-color: rgb(20, 24, 44);
  width: 300px;
  border-radius: 10px;
  margin:  auto;
  transition: background-color 0.4s ease, border-color 0.4s ease;

}
.official-site:hover {
  background-color: rgb(69, 68, 69);
  
}

.text-button {
  letter-spacing: 1px;
  text-decoration: unset;
  color: rgb(214, 238, 188);
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.official-button {
  color: rgb(214, 238, 188);
  margin-bottom: 15px;
  padding: auto;
}
