body {
  background-color: rgb(8, 8, 8);
}


.nav-list {
  display: flex;
  position: relative;
  margin-left: 700px;
  gap: 30px;
  color: #dee0ce;
  list-style: none;
  font-size: 16px;
  transition: background-color 0.9s ease;
}
.nav-item a:hover {
  color: #d4f437;            /* колір тексту */
}

.nav-item a{
  color: #ffffff;

}





.career {
  text-align: center;
  color: #fcfafa;
}

.achievement {
  color: #fcfafa;
  text-align: center;
}

.sporting {
  text-align: center;
  color: #fcfafa;
}


.manutd {
  color: #fcfafa;
  text-align: center
}

.about-ronaldo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ronaldo-title {
  display: block;
width: 100%;
height: auto;

}

.biography {
  font-size: 18px;
  text-align: center;
  color: rgb(206, 213, 232);
  text-decoration: dashed;
  text-transform: uppercase;
}
.video-ronaldo {
  display: block;
  margin-left:400px;
  margin-top: 30px;
  border: 1px solid #e5f7af;
  border-radius: 15px;
  box-shadow: 10px 2px 10px rgba(228, 220, 220, 0.5);

}