.juventus-title {
 text-align: center;
  color: #4848469c;
  font-size: 40px;
  cursor: pointer;
  transition: 
  transform 0.8s ease,
  color 0.8s ease;
}
.juventus-title:hover {
   transform: scale(1.25);
   color: #000000;
}

.juve_img {
  display: block;
  width: 100%;
  height: auto;
  border: 4px solid rgb(248, 248, 245);

  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease;
  will-change: transform, opacity;
}

.juve_img.visible {
  opacity: 1;
}

.juve_text {
  font-size: 17px;
  font-weight: bold;
  padding-top: 15px;
  color: #4848469c;
  text-align: center;
  cursor: pointer;

  transition: 
  transform 0.8s ease,
  color 0.8s ease;
}
.juve_text:hover {
   transform: scale(1.25);
  color:#0b0b0b;
}

@media (min-width: 768px) {

  .juventus-title {
    font-size: 45px;
  }

  .juve_img {
    max-width: 80%;
    margin: 0 auto;
  }

  .juve_text {
    font-size: 19px;
    padding-top: 20px;
  }
}


/* ——— АДАПТИВ ДЛЯ КОМП'ЮТЕРА ——— */
@media (min-width: 1024px) {

  .juventus-title {
    font-size: 55px;
  }

  .juve_img {
    max-width: 100%;
  }

  .juve_text {
    font-size: 22px;
    padding-top: 25px;
  }
}