body {
  background-color: rgb(74, 74, 61);
}

  .title {
    border-radius: 15px;
  background-color: #dee0ce;   /* темний фон */
  color: rgb(146, 132, 54);                /* білий текст */
  padding: 10px 0px;          /* відступи всередині */
  text-align: center;          /* текст по центру */
  font-size: 50px;             /* великий заголовок */
  font-weight: 700;            /* жирний */
  letter-spacing: 4px;         /* розрядка між літерами */
  text-transform: uppercase;   /* великі літери */
}



.career {
  text-align: center;
}

.manutd {
  text-align: center
}

.about-ronaldo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ronaldo-title {
  display: block;
width: 100%;
height: auto;

 

}
.biography {
  font-size: 18px;
  text-align: center;
  
  
}

